{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header">
    <nav class="container main-nav clearfix">
        <div class="main-nav__brand">
            <a class="blog-title" href="{{@blog.url}}">{{@blog.title}}</a>
        </div>
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
    </nav>
</header>

<main id="container" class="container" role="main">
    <div id="content" class="content col-sm-12 col-md-8 col-lg-8">
        <article class="{{post_class}}">
            <header class="post-header">
                <h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
                <section class="post-meta">
                    <span class="post-meta-item">
                        <i class="fa fa-user"></i>
                        {{authors limit="1"}}
                    </span>
                    <span class="post-meta-item">
                        <i class="fa fa-clock-o"></i>
                        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date timeago="ture"}}</time>
                        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">({{date format="YYYY-MM-DD"}})</time>
                    </span>
                    <span class="post-meta-item post-meta-tags">
                        <i class="fa fa-tag"></i>
                        {{tags}}
                    </span>
                    <span class="post-meta-item pull-right">

                    </span>
                </section>
            </header>

            <section class="post-content">
                {{!   {{content}}   }}
                {{! 这部分是我自己尝试加的，如果有问题再删掉，然后再恢复上面那行的}}
                <div class="single-post-inner">
                    {{content}}
                    <div class="tag-box">
                    {{tags prefix="" separator=" "}}
                    </div>
                    <div class="money-like" id="like-money">
                        <div class="reward-button">赏
                        <span class="money-code">
                        <span class="alipay-code">
                            <a href="javascript:;">
                            <img data-url="{{asset "images/qr-alipay-256.png"}}" class="alipay-img" src="data:image/gif;base64,UklGRkoAAABXRUJQVlA4WAoAAAAQAAAAAAAAAAAAQUxQSAsAAAABBxAREYiI/gcAAABWUDggGAAAADABAJ0BKgEAAQABABwlpAADcAD+/gbQAA=="><b>支付宝打赏</b>
                            </a>
                        </span>
                        <span class="wechat-code">
                            <img data-url="{{asset "images/qr-wechat-256.png"}}" class="wechat-img" src="data:image/gif;base64,UklGRkoAAABXRUJQVlA4WAoAAAAQAAAAAAAAAAAAQUxQSAsAAAABBxAREYiI/gcAAABWUDggGAAAADABAJ0BKgEAAQABABwlpAADcAD+/gbQAA=="><b>微信打赏</b>
                        </span>
                        </span>

                        </div>
                        <p class="money-notice">若你觉得我的文章对你有帮助,欢迎点击上方按钮对我打赏</p>
                    </div>
                    <div class="qr-code">
                        <img src="https://encrypt.proxy.is26.com/qr?content={{url absolute="true"}}" alt="">
                        <p>扫描二维码,分享此文章</p>
                    </div>
                </div>
            </section>

            <footer class="post-footer">
                {{> "post_author"}}
            </footer>
        </article>

        <aside class="post-nav">
            {{#prev_post}}
            <span class="post-nav-prev">
                <a href="{{url}}">
                    <i class="fa fa-chevron-left"></i>
                    {{title}}
                </a>
            </span>
            {{/prev_post}}

            {{#next_post}}
            <span class="post-nav-next" >
                <a href="{{url}}">
                    {{title}}
                    <i class="fa fa-chevron-right"></i>
                </a>
            </span>
            {{/next_post}}
        </aside>

        {{> "comments"}}
    </div>
    {{> sidebar}}
</main>
{{/post}}
